@model MvcStokCalismasi.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <br />
    <div>
        <label>Kategori Adı</label>
        @Html.TextBoxFor(x=>x.KATEGORIAD,new { @class="form-control"})
        @Html.ValidationMessageFor(x=>x.KATEGORIAD,"",new { @style = "color:red" })
    </div>
    <br />
    <div>
        <button class="btn btn-info">Kategori Ekle</button>
    </div>

</form>
